<figure>
	<noscript data-large="{f:uri.image(src:'{image.uid}', treatIdAsReference:'1')}"
			  data-small="{f:uri.image(src:'{image.uid}', treatIdAsReference:'1', width:'320')}"
			  data-alt="{image.alternative}"
			  data-title="{image.title}">
		<f:image src="{image.uid}" alt="{image.alternative}"
				 title="{image.title}"
				 treatIdAsReference="1"/>
	</noscript>
	<f:if condition="{image.title}">
		<figcaption>
			<div>
				<div class="box">
					<h2>{image.title}</h2>
					{image.description -> f:format.html()}
				</div>
			</div>
		</figcaption>
	</f:if>
</figure>